body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
}
.App{
  position: relative;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);

}
/* #form{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0%;
} */

#todo-container{
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
}

.incomplete-todo{
  position: relative;
  width: 100%;
  height: 7%;
  background-color: #ffffff;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  
}
.complete-todo{
  text-decoration: line-through;
  position: relative;
  width: 100%;
  height: 7%;
  background-color: #9b9b9b;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  
}
.todo-text{
  margin: 0;
  padding: 1%;
  padding-left: 5%;
  
}
#checkbox{
  position: absolute;
  top: 15%;
}

#delete{
  position: absolute;
  left: 90%;
  top: 0%;
  height: 100%;
  width: 50px;
  background-color: red;
}

#done-container{
  position: absolute;
  left: 100%;
  width: 100%;
  height: 70%;
  top: 30%;
  border: black;
  border-style: solid;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
